*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;      
}




span .loading {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: block;
    border: 7px solid red;
    border-top: 12px solid transparent;
    border-radius: 50%;
    animation: loading 2s linear 12s;

}

@keyframes loading{
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

